name: Java CI with Gradle

on:
  push:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    # Sử dụng Gradle 8.10 (Hỗ trợ hoàn hảo cho Java 21)
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4
      with:
        gradle-version: 8.10

    # Chạy lệnh build trực tiếp qua Gradle vừa cài đặt
    - name: Build with Gradle
      run: gradle shadowJar 

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: DisableEnchant-Plugin
        path: build/libs/*.jar
