name: Java CI with Gradle

on:
  push:
    branches: [ "main", "master" ] # Tự động chạy khi có code mới ở nhánh chính
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew shadowJar # Chạy lệnh build plugin (đã bao gồm libs)

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: DisableEnchant-Plugin
        path: build/libs/*.jar # GitHub sẽ gom file .jar lại cho bạn tải
