name: Java CI with Gradle

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    # Thay vì dùng ./gradlew, ta dùng lệnh 'gradle' có sẵn của máy ảo GitHub
    - name: Build with Gradle
      run: gradle shadowJar 

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: DisableEnchant-Plugin
        path: build/libs/*.jar
